.backdrop__body-backdrop___1rvky {
    position: fixed;
    opacity: 0;
    width: 100%;
    left: 0;
    top: 0 !important;
    right: 0;
    bottom: 0;
    background-color: #363636;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out
}

@media (max-width: 480px) {
    .backdrop__body-backdrop___1rvky {
        z-index: 999
    }
}

.backdrop__body-backdrop___1rvky.active {
    visibility: visible;
    opacity: 0.5
}

.cartpcstyle {
    min-height: 300px
}

.CartSideContainer .cart--empty-message {
    text-align: center
}

.CartSideContainer .cart--empty-message svg {
    width: 80px;
    margin: 15px
}

.title_cart {
    color: #4d4d4d;
    font-family: "Mulish", sans-serif;
    margin-top: 0;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5
}

.title_cart span {
    font-weight: bold
}

.cart-sidebar {
    position: fixed;
    width: 340px;
    top: 0 !important;
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
    z-index: 999999;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: none;
    touch-action: manipulation;
    right: 0
}

.cart-sidebar.active {
    visibility: visible;
    transform: translateX(0)
}

.cart-sidebar .cart_heading {
    padding: 15px 15px;
    display: block;
    position: relative
}

.cart-sidebar .cart_heading .cart_title {
    margin-bottom: 0;
    text-align: left;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    color: #222;
    font-weight: 600
}

.cart-sidebar .cart_heading .cart_btn-close {
    position: absolute;
    margin-left: 0;
    right: 15px;
    top: 18px;
    line-height: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
    z-index: 999;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out
}

.cart-sidebar .cart_heading .cart_btn-close svg {
    width: 15px;
    height: 15px;
    stroke-width: 1.5px
}

.cart-sidebar .drawer__inner {
    width: 100%;
    height: 100%;
    background: #fff
}

.cart-sidebar .cart_body {
    padding: 15px;
    height: calc(100vh - 210px);
    overflow-y: auto
}

.cart-sidebar .cart_body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5
}

.cart-sidebar .cart_body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5
}

.cart-sidebar .cart_body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #e5e5e5
}

.cart-sidebar .cart_body .cart_product {
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%
}

.cart-sidebar .cart_body .cart_image {
    display: table-cell;
    width: 24%;
    vertical-align: top;
    position: relative
}

.cart-sidebar .cart_body .cart_info {
    padding-left: 15px;
    vertical-align: top
}

.cart-sidebar .cart_body .cart_info .cart_name {
    margin-bottom: 5px
}

.cart-sidebar .cart_body .cart_info .cart_name a {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    color: #4d4d4d
}

.cart-sidebar .cart_body .cart_info .cart_name a:hover {
    color: #339538
}

.cart-sidebar .cart_body .cart_info .variant-title {
    display: block;
    font-size: 12px
}

.cart-sidebar .cart_body .grid {
    display: flex
}

.cart-sidebar .cart_body .grid .cart_item_name {
    width: 50%
}

.cart-sidebar .cart_body .grid .cart_item_name .cart_quantity {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    font-weight: normal;
    color: #333
}

.cart-sidebar .cart_body .grid .cart_prices {
    width: 50%;
    text-align: right
}

.cart-sidebar .cart_body .grid .cart_prices .cart-price {
    font-weight: bold;
    display: block;
    font-size: 14px;
    color: #339538
}

.cart-sidebar .cart_body .grid .cart__btn-remove {
    font-size: 13px;
    color: #30656b
}

.cart-sidebar .cart_body .cart_select input {
    display: inline-block;
    padding: 0;
    text-align: center;
    border-radius: 0;
    width: 35px;
    min-height: 28px;
    border: 1px solid #e5e5e5;
    color: #222;
    height: 28px;
    font-size: 14px;
    margin: 0;
    float: left;
    border-left: none;
    border-right: none
}

.cart-sidebar .cart_body .cart_select button {
    border-radius: 0;
    border: 1px solid #e5e5e5;
    border-color: #e5e5e5;
    color: #222;
    line-height: 26px;
    padding: 0;
    margin: 0;
    width: 28px;
    background-color: #fff;
    height: 28px;
    float: left
}

.cart-sidebar .cart_body .cart_select button.btn-minus {
    border-right: 0
}

.cart-sidebar .cart_body .cart_select button.btn-plus {
    border-left: 0
}

.cart-sidebar .ajaxcart__footer {
    padding: 10px
}

.cart-sidebar .ajaxcart__footer .cart__subtotal {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
    display: flex
}

.cart-sidebar .ajaxcart__footer .cart__subtotal .cart__col-6 {
    width: 50%;
    float: left
}

.cart-sidebar .ajaxcart__footer .cart__subtotal .cart__totle {
    width: 50%;
    float: left;
    text-align: right
}

.cart-sidebar .ajaxcart__footer .cart__subtotal .cart__totle .total-price {
    color: #339538;
    font-weight: bold
}

.cart-sidebar .ajaxcart__footer .cart__btn-proceed-checkout-dt {
    display: block;
    position: relative;
    padding-top: 20px
}

.cart-sidebar .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
    width: 100%;
    background-color: #ff7800;
    color: #fff;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    border-radius: 80px
}

.cart-sidebar .ajaxcart__footer .cart__btn-proceed-checkout-dt button:hover {
    background-color: #339538
}

@media (max-width: 767px) {
    .cart-sidebar {
        width: 100%
    }
}

h1 {
    font-size: 22px;
    /* margin-bottom: 20px */
}

.cart-page .cart--empty-message {
    text-align: center
}

.cart-page .cart--empty-message svg {
    width: 80px;
    margin: 15px
}

.cart-page .cart-header-info {
    display: flex;
    display: flex;
    padding: 11px 0;
    border-bottom: none;
    font-weight: 400;
    background: #fafafa
}

.cart-page .cart-header-info div:nth-child(1) {
    width: 51%;
    text-align: left;
    padding-left: 10px
}

.cart-page .cart-header-info div:nth-child(2) {
    width: 16%;
    text-align: center
}

.cart-page .cart-header-info div:nth-child(3) {
    width: 16%;
    text-align: center
}

.cart-page .cart-header-info div:nth-child(4) {
    width: 16%;
    text-align: center
}

.cart-page .cart_body .ajaxcart__row {
    padding: 10px 0;
    border-top: solid 1px #ebebeb
}

.cart-page .cart_body .ajaxcart__row .cart_product {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center
}

.cart-page .cart_body .ajaxcart__row:first-child {
    border-top: none
}

.cart-page .cart_body .cart_image {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px
}

.cart-page .cart_body .cart_image img {
    max-width: 100%;
    max-height: 100%
}

.cart-page .cart_body .cart_info {
    padding-left: 15px;
    vertical-align: top;
    padding-right: 10px;
    display: flex;
    width: calc(100% - 110px);
    -webkit-width: calc(100% - 110px);
    -moz-width: calc(100% - 110px);
    -o-width: calc(100% - 110px);
    -os-width: calc(100% - 110px)
}

.cart-page .cart_body .cart_info .cart_name {
    width: 50%;
    margin-bottom: 5px
}

.cart-page .cart_body .cart_info .cart_name a {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    color: #4d4d4d
}

.cart-page .cart_body .cart_info .cart_name a:hover {
    color: #339538
}

.cart-page .cart_body .cart_info .cart_name .remove-item-cart {
    display: block;
    color: red;
    font-weight: 300
}

.cart-page .cart_body .cart_info .cart_name p {
    margin: 0;
    font-style: italic;
    color: #9e9e9e
}

.cart-page .cart_body .cart_info .variant-title {
    display: block;
    font-size: 12px
}

.cart-page .cart_body .cart_item_name {
    width: 60%
}

.cart-page .cart_body .grid {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center
}

.cart-page .cart_body .grid .cart_prices .cart-price {
    font-weight: 400;
    display: block;
    font-size: 14px;
    color: #4d4d4d
}

.cart-page .cart_body .grid .cart_prices .cart-price.cart-price-total {
    color: #339538;
    font-weight: bold
}

.cart-page .cart_body .grid .cart__btn-remove {
    font-size: 13px;
    color: #30656b
}

.cart-page .cart_body .grid .cart_quantity {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    font-weight: normal;
    color: #333
}

.cart-page .cart_body .cart_select input {
    display: inline-block;
    padding: 0;
    text-align: center;
    border-radius: 0;
    width: 40px;
    min-height: 32px;
    border: 1px solid #e5e5e5;
    color: #222;
    height: 32px;
    font-size: 14px;
    margin: 0;
    float: left;
    border-left: none;
    border-right: none
}

.cart-page .cart_body .cart_select button {
    border-radius: 0;
    border: 1px solid #e5e5e5;
    border-color: #e5e5e5;
    color: #222;
    line-height: 31px;
    padding: 0;
    margin: 0;
    width: 28px;
    background-color: #fff;
    height: 32px;
    float: left;
    font-size: 21px
}

.cart-page .cart_body .cart_select button.ajaxcart__qty--minus {
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 22px
}

.cart-page .cart_body .cart_select button.ajaxcart__qty--plus {
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.cart-page .ajaxcart__footer {
    background: #fafafa;
    margin-top: 20px;
    padding: 15px 0;
    padding-right: 15px
}

.cart-page .ajaxcart__footer .tt_right {
    display: flex;
    justify-content: right
}

.cart-page .ajaxcart__footer .cart__subtotal {
    display: flex;
    align-items: center
}

.cart-page .ajaxcart__footer .cart__subtotal .cart__col-6 {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-right: 15px
}

.cart-page .ajaxcart__footer .cart__subtotal .cart__totle {
    display: inline-block;
    float: left;
    text-align: right
}

.cart-page .ajaxcart__footer .cart__subtotal .cart__totle .total-price {
    color: #339538;
    font-weight: bold;
    font-size: 24px
}

.cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt {
    display: inline-block;
    position: relative;
    padding-left: 100px;
    float: left
}

.cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
    width: 100%;
    background-color: #ff7800;
    color: #fff;
    text-align: center;
    line-height: 41px;
    height: 41px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 47px
}

.cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt button:hover {
    background-color: #339538
}

.CartHeaderContainer {
    width: 340px;
    background-color: #fff
}

.CartHeaderContainer .cart--empty-message {
    text-align: center
}

.CartHeaderContainer .cart--empty-message svg {
    width: 80px;
    margin: 15px
}

.cartheader {
    margin-bottom: 0
}

.cartheader .cart_body {
    padding: 15px;
    max-height: 360px;
    overflow-y: auto
}

.cartheader .cart_body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5
}

.cartheader .cart_body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5
}

.cartheader .cart_body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #e5e5e5
}

.cartheader .cart_body .cart_product {
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%;
    border-bottom: solid 1px #ebebeb
}

.cartheader .cart_body .cart_image {
    display: table-cell;
    width: 24%;
    vertical-align: top;
    position: relative
}

.cartheader .cart_body .cart_info {
    padding-left: 15px;
    vertical-align: top
}

.cartheader .cart_body .cart_info .cart_name {
    margin-bottom: 5px
}

.cartheader .cart_body .cart_info .cart_name a {
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    display: block
}

.cartheader .cart_body .cart_info .cart_name a:hover {
    color: #339538
}

.cartheader .cart_body .cart_info .variant-title {
    display: block;
    font-size: 12px
}

.cartheader .cart_body .grid {
    display: flex
}

.cartheader .cart_body .grid .cart_item_name {
    width: 50%
}

.cartheader .cart_body .grid .cart_item_name .cart_quantity {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    font-weight: normal;
    color: #333
}

.cartheader .cart_body .grid .cart_prices {
    width: 50%;
    text-align: right
}

.cartheader .cart_body .grid .cart_prices .cart-price {
    font-weight: bold;
    display: block;
    font-size: 14px;
    color: #339538
}

.cartheader .cart_body .grid .cart__btn-remove {
    font-size: 13px;
    color: #30656b
}

.cartheader .cart_body .cart_select input {
    display: inline-block;
    padding: 0;
    text-align: center;
    border-radius: 0;
    width: 35px;
    min-height: 28px;
    border: 1px solid #e5e5e5;
    color: #222;
    height: 28px;
    font-size: 14px;
    margin: 0;
    float: left;
    border-left: none;
    border-right: none
}

.cartheader .cart_body .cart_select button {
    border-radius: 0;
    border: 1px solid #e5e5e5;
    border-color: #e5e5e5;
    color: #222;
    line-height: 26px;
    padding: 0;
    margin: 0;
    width: 28px;
    background-color: #fff;
    height: 28px;
    float: left
}

.cartheader .cart_body .cart_select button.btn-minus {
    border-right: 0
}

.cartheader .cart_body .cart_select button.btn-plus {
    border-left: 0
}

.cartheader .ajaxcart__footer {
    padding: 10px
}

.cartheader .ajaxcart__footer .cart__subtotal {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
    display: flex
}

.cartheader .ajaxcart__footer .cart__subtotal .cart__col-6 {
    width: 50%;
    float: left
}

.cartheader .ajaxcart__footer .cart__subtotal .cart__totle {
    width: 50%;
    float: left;
    text-align: right
}

.cartheader .ajaxcart__footer .cart__subtotal .cart__totle .total-price {
    color: #339538;
    font-weight: bold
}

.cartheader .ajaxcart__footer .cart__btn-proceed-checkout-dt {
    display: block;
    position: relative;
    padding-top: 20px
}

.cartheader .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
    width: 100%;
    background-color: #339538;
    color: #fff;
    text-align: center;
    line-height: 40px
}

.cartheader .ajaxcart__footer .cart__btn-proceed-checkout-dt button:hover {
    background-color: #339538
}

@media (max-width: 1199px) {
    .CartMobileContainer .cart--empty-message {
        text-align: center
    }

    .CartMobileContainer .cart--empty-message svg {
        width: 80px;
        margin: 15px
    }

    .cart-mobile .cart_body {
        padding: 0
    }

    .cart-mobile .cart_body .cart_product {
        margin-bottom: 15px;
        padding-bottom: 15px;
        display: table;
        width: 100%;
        border-bottom: solid 1px #ebebeb
    }

    .cart-mobile .cart_body .cart_image {
        display: table-cell;
        width: 20%;
        vertical-align: top;
        position: relative
    }

    .cart-mobile .cart_body .cart_info {
        padding-left: 15px;
        vertical-align: top
    }

    .cart-mobile .cart_body .cart_info .cart_name {
        margin-bottom: 5px
    }

    .cart-mobile .cart_body .cart_info .cart_name a {
        margin-bottom: 4px;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.3;
        display: block
    }

    .cart-mobile .cart_body .cart_info .cart_name a:hover {
        color: #339538
    }

    .cart-mobile .cart_body .cart_info .variant-title {
        display: block;
        font-size: 12px
    }

    .cart-mobile .cart_body .grid {
        display: flex
    }

    .cart-mobile .cart_body .grid .cart_item_name {
        width: 50%
    }

    .cart-mobile .cart_body .grid .cart_item_name .cart_quantity {
        font-size: 12px;
        margin-bottom: 5px;
        display: block;
        font-weight: normal;
        color: #333
    }

    .cart-mobile .cart_body .grid .cart_prices {
        width: 50%;
        text-align: right
    }

    .cart-mobile .cart_body .grid .cart_prices .cart-price {
        font-weight: bold;
        display: block;
        font-size: 14px;
        color: #339538
    }

    .cart-mobile .cart_body .grid .cart__btn-remove {
        font-size: 13px;
        color: #30656b
    }

    .cart-mobile .cart_body .cart_select input {
        display: inline-block;
        padding: 0;
        text-align: center;
        border-radius: 0;
        width: 35px;
        min-height: 28px;
        border: 1px solid #e5e5e5;
        color: #222;
        height: 28px;
        font-size: 14px;
        margin: 0;
        float: left;
        border-left: none;
        border-right: none
    }

    .cart-mobile .cart_body .cart_select button {
        border-radius: 0;
        border: 1px solid #e5e5e5;
        border-color: #e5e5e5;
        color: #222;
        line-height: 26px;
        padding: 0;
        margin: 0;
        width: 28px;
        background-color: #fff;
        height: 28px;
        float: left
    }

    .cart-mobile .cart_body .cart_select button.btn-minus {
        border-right: 0
    }

    .cart-mobile .cart_body .cart_select button.btn-plus {
        border-left: 0
    }

    .cart-mobile .ajaxcart__footer {
        padding: 10px 0
    }

    .cart-mobile .ajaxcart__footer .cart__subtotal {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 12px;
        display: flex
    }

    .cart-mobile .ajaxcart__footer .cart__subtotal .cart__col-6 {
        width: 50%;
        float: left
    }

    .cart-mobile .ajaxcart__footer .cart__subtotal .cart__totle {
        width: 50%;
        float: left;
        text-align: right
    }

    .cart-mobile .ajaxcart__footer .cart__subtotal .cart__totle .total-price {
        color: #339538;
        font-weight: bold
    }

    .cart-mobile .ajaxcart__footer .cart__btn-proceed-checkout-dt {
        display: block;
        position: relative;
        padding-top: 20px
    }

    .cart-mobile .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
        width: 100%;
        background-color: #ff7800;
        color: #fff;
        text-align: center;
        line-height: 40px;
        height: 40px;
        font-weight: bold;
        font-size: 14px;
        padding: 0
    }

    .cart-mobile .ajaxcart__footer .cart__btn-proceed-checkout-dt button:hover {
        background-color: #339538
    }
}

@media (max-width: 1199px) and (min-width: 767px) {
    .cart-mobile .cart_body .cart_image {
        width: 10%
    }
}

.cartPopupContainer {
    background-color: #fff
}

.cartPopupContainer .cart--empty-message {
    text-align: center
}

.cartPopupContainer .cart--empty-message svg {
    width: 80px;
    margin: 15px
}

#popup-cart-desktop {
    width: 950px;
    max-height: 505px;
    height: auto;
    background: transparent;
    margin: 0 auto;
    position: relative;
    border-radius: 4px;
    position: fixed;
    left: 50%;
    top: 10%;
    display: none;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: none;
    touch-action: manipulation;
    z-index: -1
}

#popup-cart-desktop.active {
    display: block;
    z-index: 9999;
    transform: translateX(-50%)
}

#popup-cart-desktop .header-popcart {
    position: relative;
    background: #fff
}

#popup-cart-desktop .header-popcart .top-cart-header {
    font-size: 16px;
    padding-right: 15px;
    font-weight: 400;
    padding: 8px 20px;
    background: #363636;
    color: #fff
}

#popup-cart-desktop .header-popcart .top-cart-header .cart-popup-name {
    color: #fff
}

#popup-cart-desktop .header-popcart .top-cart-header .cart-popup-name:hover {
    opacity: .6
}

#popup-cart-desktop .header-popcart .noti-cart-count {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
    color: #333333;
    padding: 10px 20px;
    display: block
}

#popup-cart-desktop .header-popcart .cart_btn-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 10000;
    color: #fff
}

#popup-cart-desktop .header-popcart .cart_btn-close svg {
    width: 15px;
    height: 15px
}

#popup-cart-desktop .cartpopup {
    margin-bottom: 0;
    background: #fff;
    padding: 0 20px 20px
}

#popup-cart-desktop .cartpopup .cart-header-info {
    display: flex;
    display: flex;
    padding: 11px 0;
    border-bottom: none;
    font-weight: 400;
    background: #fafafa
}

#popup-cart-desktop .cartpopup .cart-header-info div:nth-child(1) {
    width: 53%;
    text-align: left;
    padding-left: 20px
}

#popup-cart-desktop .cartpopup .cart-header-info div:nth-child(2) {
    width: 19%;
    text-align: center
}

#popup-cart-desktop .cartpopup .cart-header-info div:nth-child(3) {
    width: 12%;
    text-align: center
}

#popup-cart-desktop .cartpopup .cart-header-info div:nth-child(4) {
    width: 19%;
    text-align: center
}

#popup-cart-desktop .cartpopup .cart_body {
    max-height: 268px;
    overflow-y: auto;
    border: solid 1px #ebebeb
}

#popup-cart-desktop .cartpopup .cart_body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #F5F5F5
}

#popup-cart-desktop .cartpopup .cart_body::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5
}

#popup-cart-desktop .cartpopup .cart_body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    background-color: #e5e5e5
}

#popup-cart-desktop .cartpopup .cart_body .ajaxcart__row {
    padding: 10px 0;
    border-top: solid 1px #ebebeb
}

#popup-cart-desktop .cartpopup .cart_body .ajaxcart__row .cart_product {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center
}

#popup-cart-desktop .cartpopup .cart_body .ajaxcart__row:first-child {
    border-top: none
}

#popup-cart-desktop .cartpopup .cart_body .cart_image {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px
}

#popup-cart-desktop .cartpopup .cart_body .cart_image img {
    max-width: 100%;
    max-height: 100%
}

#popup-cart-desktop .cartpopup .cart_body .cart_info {
    padding-left: 15px;
    vertical-align: top;
    padding-right: 10px;
    display: flex;
    width: calc(100% - 110px);
    -webkit-width: calc(100% - 110px);
    -moz-width: calc(100% - 110px);
    -o-width: calc(100% - 110px);
    -os-width: calc(100% - 110px)
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .cart_name {
    width: 50%;
    margin-bottom: 5px
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .cart_name a {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    color: #4d4d4d
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .cart_name a:hover {
    color: #339538
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .cart_name .remove-item-cart {
    display: block;
    color: red;
    font-weight: 300
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .cart_name p {
    margin: 0;
    font-style: italic;
    color: #9e9e9e
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .variant-title {
    display: block;
    font-size: 12px
}

#popup-cart-desktop .cartpopup .cart_body .cart_item_name {
    width: 60%
}

#popup-cart-desktop .cartpopup .cart_body .grid {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center
}

#popup-cart-desktop .cartpopup .cart_body .grid .cart_prices .cart-price {
    font-weight: bold;
    display: block;
    font-size: 14px;
    color: #339538
}

#popup-cart-desktop .cartpopup .cart_body .grid .cart__btn-remove {
    font-size: 13px;
    color: #30656b
}

#popup-cart-desktop .cartpopup .cart_body .grid .cart_quantity {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    font-weight: normal;
    color: #333
}

#popup-cart-desktop .cartpopup .cart_body .cart_select input {
    display: inline-block;
    padding: 0;
    text-align: center;
    border-radius: 0;
    width: 35px;
    min-height: 28px;
    border: 1px solid #e5e5e5;
    color: #222;
    height: 28px;
    font-size: 14px;
    margin: 0;
    float: left;
    border-left: none;
    border-right: none
}

#popup-cart-desktop .cartpopup .cart_body .cart_select button {
    border-radius: 0;
    border: 1px solid #e5e5e5;
    border-color: #e5e5e5;
    color: #222;
    line-height: 26px;
    padding: 0;
    margin: 0;
    width: 28px;
    background-color: #fff;
    height: 28px;
    float: left
}

#popup-cart-desktop .cartpopup .cart_body .cart_select button.btn-minus {
    border-right: 0
}

#popup-cart-desktop .cartpopup .cart_body .cart_select button.btn-plus {
    border-left: 0
}

#popup-cart-desktop .cartpopup .ajaxcart__footer {
    padding-top: 20px
}

#popup-cart-desktop .cartpopup .ajaxcart__footer .cart__subtotal {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
    display: flex
}

#popup-cart-desktop .cartpopup .ajaxcart__footer .cart__subtotal .cart__col-6 {
    width: 50%;
    float: left
}

#popup-cart-desktop .cartpopup .ajaxcart__footer .cart__subtotal .cart__totle {
    width: 50%;
    float: left;
    text-align: right
}

#popup-cart-desktop .cartpopup .ajaxcart__footer .cart__subtotal .cart__totle .total-price {
    color: #339538;
    font-weight: bold
}

#popup-cart-desktop .cartpopup .ajaxcart__footer .cart__btn-proceed-checkout-dt {
    display: block;
    position: relative;
    padding-top: 0
}

#popup-cart-desktop .cartpopup .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
    width: 100%;
    background-color: #ff7800;
    color: #fff;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    padding: 0
}

#popup-cart-desktop .cartpopup .ajaxcart__footer .cart__btn-proceed-checkout-dt button:hover {
    background-color: #339538
}

.popup-cart-mobile {
    max-width: 300px;
    height: auto;
    background: #fff;
    width: 0px;
    top: 90% !important;
    left: calc(50% - 150px);
    -webkit-left: calc(50% - 150px);
    -moz-left: calc(50% - 150px);
    -o-left: calc(50% - 150px);
    -os-left: calc(50% - 150px);
    width: 100%;
    transform: translateX(-50%);
    position: fixed;
    visibility: hidden;
    transition: all 0.5s;
    transform: scale(0);
    border-radius: 5px
}

.popup-cart-mobile.active {
    visibility: visible;
    z-index: 9999;
    transform: scale(1);
    top: 50px !important;
    width: auto;
    left: calc(50% - 150px);
    -webkit-left: calc(50% - 150px);
    -moz-left: calc(50% - 150px);
    -o-left: calc(50% - 150px);
    -os-left: calc(50% - 150px)
}

@media (max-width: 767px) {
    .popup-cart-mobile.active {
        max-width: unset;
        width: calc(100% - 20px);
        left: 10px
    }
}

.popup-cart-mobile .header-popcart .top-cart-header span {
    display: block;
    padding: 10px;
    background: #339538;
    font-weight: bold;
    color: #fff;
    padding-left: 35px
}

.popup-cart-mobile .header-popcart .top-cart-header span svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 10px;
    filter: invert(1)
}

.popup-cart-mobile .media-content {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px
}

.popup-cart-mobile .media-content .thumb-1x1 {
    width: 70px
}

.popup-cart-mobile .media-content .thumb-1x1 img {
    max-width: 100%;
    max-height: 100%
}

.popup-cart-mobile .media-content .body_content {
    width: calc(100% - 70px);
    padding-left: 15px
}

.popup-cart-mobile .media-content .body_content h4 {
    font-size: 14px;
    font-weight: bold
}

.popup-cart-mobile .media-content .body_content .product-new-price {
    color: #339538;
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    display: block
}

.popup-cart-mobile .media-content .body_content .product-new-price b {
    margin-right: 15px
}

.popup-cart-mobile .media-content .body_content .product-new-price span {
    color: #9e9e9e;
    background: none;
    padding: 0;
    font-size: 14px
}

.popup-cart-mobile .noti-cart-count {
    font-size: 14px;
    color: #707070;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 10px
}

.popup-cart-mobile .noti-cart-count span {
    display: inline-block;
    background: none;
    color: #333;
    padding: 0
}

.popup-cart-mobile .iconclose {
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 6px
}

.popup-cart-mobile .iconclose svg {
    filter: invert(1)
}

.popup-cart-mobile .bottom-action {
    padding: 0 10px 10px;
    display: flex;
    flex-flow: column
}

.popup-cart-mobile .tocontinued {
    background: #339538;
    font-weight: 400;
    line-height: 38px;
    display: block;
    padding: 0px 45px;
    border: solid 1px #339538;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 6px;
    margin-top: 0px;
    clear: both;
    text-align: center
}

.popup-cart-mobile .checkout {
    height: 40px;
    line-height: 38px;
    width: 100%;
    background: #ff7800;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    border: solid 1px #ff7800;
    float: right
}

.title-block-page {
    text-align: center
}